# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
venv/
.venv/

# =====================
# FastAPI / Uvicorn
# =====================
*.log

# =====================
# Node / Frontend / Misc
# =====================
node_modules/

# =====================
# OS Files
# =====================
.DS_Store
Thumbs.db

# =====================
# IDE / Editor
# =====================
.vscode/
.idea/

# =====================
# ML / AI Models
# =====================
*.h5
*.pkl
*.onnx
*.dat

# =====================
# Temporary / Cache
# =====================
.cache/
pytest_cache/