# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
.env
venv/

# =====================
# Node / Misc
# =====================
node_modules/

# =====================
# OS Files
# =====================
.DS_Store

# =====================
# ML / AI Models
# =====================
*.h5
*.pkl
*.onnx